table { 
	width: 80%; 
	border-collapse: collapse; 
	margin:50px auto;
	padding-top:50px;
	}

th { 
	background: #3f9c7e; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #f7f7f7; 
	text-align: center; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #3f9c7e5e;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}
